<div class="container">

  <div class="top"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<BR>


<div class="flex-container">
  <div>
    <h1><strong>mlab Soweto</strong> </h1><br>
    
    <h2>Please Enter </h2>
    <br><br>
  
  

  </div>

  
</div>

  <div class="box">

  

  
    <br>
    <br>
    <form [formGroup]="formgroup">
       <ion-item  class="item1">
        <ion-label> <ion-icon ios="ios-contact" md="md-contact"></ion-icon></ion-label>
        <ion-input placeholder="Enter username" formControlName="username"></ion-input>
      </ion-item>
      <ion-item *ngIf="username.hasError('required') && username.touched">
        <p style="color: red;">*Name is Required</p>
      </ion-item>
      <br>
      <ion-item class="item2">
          <ion-label>  <ion-icon ios="ios-key" md="md-key"></ion-icon></ion-label>
          <ion-input placeholder="Enter password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="password.hasError('required') && password.touched">
          <p style="color: red;">*Password is Required</p>
        </ion-item>
       <br>
       <br><br>
        <button class="btn" (click)="EmployeesPage()">Login</button>
        <p>Have account?...Register</p> <br><br>
    </form>
   
        
       
        

  </div>

</div>

