<div class="container">

    <div class="head">
        <h1>Update Employee</h1> 
       </div>
<br><br>
<br>
    <div class="content">

        <!-- <ion-content > -->
          <ion-list>
            <ion-item *ngIf="students">
             <ion-label stacked> Name</ion-label>
             <ion-input type="text" [(ngModel)]="students.name"></ion-input>
           </ion-item>
           <br>
           <ion-item *ngIf="students">
             <ion-label stacked> Occupation</ion-label>
             <ion-input type="text" [(ngModel)]="students.occupation"></ion-input>
           </ion-item>
           <br>
           <ion-item *ngIf="students">
             <ion-label stacked> Email</ion-label>
             <ion-input type="text" [(ngModel)]="students.email"></ion-input>
           </ion-item>
           <br>

           <ion-item *ngIf="students">
             <ion-label stacked> Phone</ion-label>
             <ion-input type="text" [(ngModel)]="students.phone"></ion-input>
           </ion-item>
         
         </ion-list>
          
            <div class="button">
                <button ion-button class="btn" (click)="update()">Edit Student</button>
            </div>
           
<!--           
          </ion-content> -->

    </div>
</div>

   
  
   

<!-- 
<ion-header>

  <ion-navbar>
    <ion-buttons start>
        <button ion-button icon-only (click)="dismiss()">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>

    <ion-title style="text-align: center">Update </ion-title>
    <button slot="end">
      <button (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </button>
  </ion-navbar>

</ion-header> -->



